# Items to ignore when downloading a zip
memberlite-shortcodes-banner.png export-ignore
README.md export-ignore

# Items to ignore when downloading a zip
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.travis.yml export-ignore
